body {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #111111;
  font-family: "Roboto", sans-serif;
}

/*-- -------------------------- -->
<---          Button            -->
<--- -------------------------- -*/

.cs-button-6 {
  text-align: center;
  font-size: 1rem;
  /* 46px - 56px */
  line-height: clamp(1.75rem, 1vw, 1rem);
  text-decoration: none;
  font-weight: 700;
  min-width: 3.875rem;
  margin: auto;
  color: #1a1a1a;
  margin-top: 1rem;
  padding: 0 0 0 1.5rem;
  /* prevents padding and border from affecting height and width */
  box-sizing: border-box;
  background-color: #fff;
  display: inline-flex;
  align-items: stretch;
  justify-content: space-between;
  gap: 1.5rem;
  position: relative;
  z-index: 1;
  transition: color 0.3s, border 0.3s;
}
.cs-button-6:before {
  /* background color */
  content: "";
  width: 0%;
  height: 100%;
  background-color: #1a1a1a;
  opacity: 1;
  position: absolute;
  display: block;
  bottom: 0;
  left: 0;
  transition: width 0.3s;
  z-index: -1;
}
.cs-button-6:after {
  /* button border */
  content: "";
  width: 100%;
  height: 100%;
  background-color: transparent;
  border: 2px solid #1a1a1a;
  /* prevents border from affecting height and width */
  box-sizing: border-box;
  opacity: 1;
  position: absolute;
  display: block;
  bottom: 0;
  right: 0;
  transition: opacity 0.3s;
  z-index: 1;
  pointer-events: none;
}
.cs-button-6 .cs-wrapper {
  width: 2.75rem;
  height: auto;
  background-color: #fff;
  border-left: 2px solid #1a1a1a;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  position: relative;
  transition: border 0.3s;
}
.cs-button-6 .cs-wrapper:before {
  /* background color */
  content: "";
  width: 0%;
  height: 100%;
  background-color: #f15a24;
  opacity: 1;
  position: absolute;
  display: block;
  bottom: 0;
  left: 0;
  transition: width 0.3s;
  transition-delay: 0.1s;
  z-index: -1;
}
.cs-button-6 .cs-icon {
  width: 1.5rem;
  height: auto;
}
.cs-button-6 .cs-icon path {
  transition: fill 0.3s;
}
.cs-button-6:hover {
  color: #fff;
}
.cs-button-6:hover:before {
  width: 100%;
}
.cs-button-6:hover:after {
  opacity: 0;
}
.cs-button-6:hover .cs-wrapper {
  border-color: #1a1a1a;
}
.cs-button-6:hover .cs-wrapper:before {
  width: 100%;
}
.cs-button-6:hover .cs-icon path {
  fill: #fff;
}

/*-- -------------------------- -->
<---          Gallery           -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #gallery-1446 {
    padding: var(--sectionPadding);
    padding-top: 20rem;
  }
  #gallery-1446 .cs-container {
    width: 100%;
    max-width: 80rem;
    margin: auto;
    display: flex;
    align-items: center;
    /* 48px - 64px */
    gap: clamp(3rem, 6vw, 4rem);
    position: relative;
  }
  #gallery-1446 .cs-content {
    text-align: left;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    gap: 1.5rem;
  }
  #gallery-1446 .cs-title {
    margin: 0;
  }
  #gallery-1446 .cs-gallery {
    width: 100%;
    padding: 0;
    margin: 0;
    display: grid;
    gap: 4rem;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    position: relative;
    flex-wrap: wrap;
  }
  #gallery-1446 .cs-image {
    /* 260px - 360px */
    min-height: clamp(12.25rem, 60vw, 30rem);
    border-radius: 1rem;
    /* clips the image corners */
    overflow: hidden;
    display: block;
    position: relative;
  }

  #gallery-1446 .cs-image:hover {
    color: #111;
    background: rgb(255, 255, 255);
    box-shadow: 0 0 30px rgb(255, 255, 255);
  }
  #gallery-1446 .cs-image img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    /* makes it act like a background image */
    object-fit: cover;
  }
}
