<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>FLEX</title>
    <link rel="stylesheet" type="text/css" href="../static/css/core.css" />
    <link rel="stylesheet" type="text/css" href="../static/css/styles.css" />
    <link rel="stylesheet" type="text/css" href="../static/css/error.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Roboto&display=swap"
    />
  </head>
  <body>
    <div class="bg"></div>
    

    <div class="wrapper">
        <div class="landing-page">
          <div style="text-align:center;" class="icon__download">
                <img src="../static/images/404error.gif" alt="Error animation" width="700px",>
            </div>
          
          <h1> {{error_code}} Error.</h1>
          <p> {{error_message}}</p>
          <a href="{{ url_for('main.index') }}" class="cs-button-5" aria-label="read more about us">
            <span class="cs-button-text">Go Back</span>
        </a>
                            
        </div>
      </div>
  
  
    
  </body>
</html>
