<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>FLEX</title>
    <link rel="stylesheet" type="text/css" href="../static/css/core.css"/>
    <link rel="stylesheet" type="text/css" href="../static/css/styles.css"/>
    <link rel="stylesheet" type="text/css" href="../static/css/styles2.css"/>
    <link
            rel="stylesheet"
            type="text/css"
            href="../static/css/styles-workout.css"
    />
    <link
            rel="stylesheet"
            href="https://fonts.googleapis.com/css?family=Roboto&display=swap"
    />
</head>
<body>
<div class="bg"></div>

<!-- ============================================ -->
<!--                   Gallery                    -->
<!-- ============================================ -->

<section id="gallery-1446">
    <div class="cs-container">
        <div class="cs-content">
            <div class="cs-flex">
                <span class="cs-topper">Step 2</span>
                <h2 class="cs-title">
                    Tell us about yourself to create your workout.
                </h2>
                <a
                        href="{{ url_for('main.workout') }}"
                        class="cs-button-6"
                        aria-label="read more about us"
                >
                    Go Back
                    <!--SVG Arrow-->
                    <div class="cs-wrapper">
                        <svg
                                class="cs-icon"
                                aria-hidden="true"
                                width="24"
                                height="24"
                                viewBox="0 0 24 24"
                                fill="none"
                                xmlns="http://www.w3.org/2000/svg"
                        >
                            <path
                                    d="M17.92 11.62C17.8724 11.4973 17.801 11.3851 17.71 11.29L12.71 6.29C12.6168 6.19676 12.5061 6.1228 12.3842 6.07234C12.2624 6.02188 12.1319 5.99591 12 5.99591C11.7337 5.99591 11.4783 6.1017 11.29 6.29C11.1968 6.38324 11.1228 6.49393 11.0723 6.61575C11.0219 6.73758 10.9959 6.86814 10.9959 7C10.9959 7.2663 11.1017 7.5217 11.29 7.71L14.59 11H7C6.73478 11 6.48043 11.1054 6.29289 11.2929C6.10536 11.4804 6 11.7348 6 12C6 12.2652 6.10536 12.5196 6.29289 12.7071C6.48043 12.8946 6.73478 13 7 13H14.59L11.29 16.29C11.1963 16.383 11.1219 16.4936 11.0711 16.6154C11.0203 16.7373 10.9942 16.868 10.9942 17C10.9942 17.132 11.0203 17.2627 11.0711 17.3846C11.1219 17.5064 11.1963 17.617 11.29 17.71C11.383 17.8037 11.4936 17.8781 11.6154 17.9289C11.7373 17.9797 11.868 18.0058 12 18.0058C12.132 18.0058 12.2627 17.9797 12.3846 17.9289C12.5064 17.8781 12.617 17.8037 12.71 17.71L17.71 12.71C17.801 12.6149 17.8724 12.5028 17.92 12.38C18.02 12.1365 18.02 11.8635 17.92 11.62Z"
                                    fill="#1a1a1a"
                            />
                        </svg>
                    </div>
                </a>
            </div>
            <form
                    method="POST"
                    action="{{ url_for('main.run') }}"
            >
                <div class="signup-container">
                    <div class="right-container">
                        <header>
                            <div class="multi-select">
                                <label for="duration-0-30">Workout Duration</label>
                                <div class="radio-container">
                                    <input
                                            id="duration-0-30"
                                            name="workout-duration"
                                            type="radio"
                                            value="0-30"
                                            checked
                                    />
                                    <label for="duration-0-30">0-30 mins</label>
                                    <input
                                            id="duration-30-60"
                                            name="workout-duration"
                                            type="radio"
                                            value="30-60"
                                    />
                                    <label for="duration-30-60">30-60 mins</label>
                                    <input
                                            id="duration-60-plus"
                                            name="workout-duration"
                                            type="radio"
                                            value="60+"
                                    />
                                    <label for="duration-60-plus">60+ mins</label>
                                </div>
                            </div>

                            <div class="multi-select">
                                <label for="beginner">Fitness Level</label>
                                <div class="radio-container">
                                    <input
                                            id="beginner"
                                            name="fitness-level"
                                            type="radio"
                                            value="beginner"
                                            checked
                                    />
                                    <label for="beginner">Beginner</label>
                                    <input
                                            id="intermediate"
                                            name="fitness-level"
                                            type="radio"
                                            value="intermediate"
                                    />
                                    <label for="intermediate">Intermediate</label>
                                    <input
                                            id="advanced"
                                            name="fitness-level"
                                            type="radio"
                                            value="advanced"
                                    />
                                    <label for="advanced">Advanced</label>
                                </div>
                            </div>

                            <div class="multi-select">
                                <label for="long-run">Running Type</label>
                                <div class="radio-container">
                                    <input
                                            id="long-run"
                                            name="running-type"
                                            type="radio"
                                            value="long-run"
                                            checked
                                    />
                                    <label for="long-run">Long Run</label>
                                    <input
                                            id="hiit"
                                            name="running-type"
                                            type="radio"
                                            value="hiit"
                                    />
                                    <label for="hiit">HIIT</label>
                                    <input
                                            id="recovery"
                                            name="running-type"
                                            type="radio"
                                            value="recovery"
                                    />
                                    <label for="recovery">Recovery</label>
                                    <input
                                            id="fartlek"
                                            name="running-type"
                                            type="radio"
                                            value="fartlek"
                                    />
                                    <label for="fartlek">Fartlek</label>
                                </div>
                            </div>
                        </header>
                        <footer>
                            <button class="cs-button-5" type="submit">
                                <span class="cs-button-text">Get your workout!</span>
                            </button>
                        </footer>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>
</body>
</html>
