<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>FLEX</title>
    <link rel="stylesheet" type="text/css" href="../static/css/core.css"/>
    <link rel="stylesheet" type="text/css" href="../static/css/styles.css"/>
    <link rel="stylesheet" type="text/css" href="../static/css/table.css"/>

    <link
            rel="stylesheet"
            href="https://fonts.googleapis.com/css?family=Roboto&display=swap"
    />
</head>
<body>
<div class="bg"></div>

<div class="container">
    <h2>{{ workout_name }}</h2>
    <ul class="responsive-table">
        <li class="table-header">
            <div class="col col-1">#</div>
            <div class="col col-2">Exercise</div>
            <div class="col col-3">Sets</div>
            <div class="col col-4">Repetitions</div>
            <div class="col col-5">Rest time (Minutes)</div>
            <div class="col col-6">Exercise description</div>
        </li>
        {% for exercise in exercises %}
        <li class="table-row">
            <div class="col col-1" data-label="#">{{ loop.index }}</div>
            <div class="col col-2" data-label="Exercise">{{ exercise.exercise_name }}</div>
            <div class="col col-3" data-label="Sets">{{ exercise.sets }}</div>
            <div class="col col-4" data-label="Repetitions">{{ exercise.repetitions }}</div>
            <div class="col col-5" data-label="Rest time">{{ exercise.rest_time }}</div>
            <div class="col col-6" data-label="Exercise description">{{ exercise.exercise_description }}.</div>
        </li>
        {% endfor %}
    </ul>

    <a href="{{ url_for('main.workout') }}" class="cs-button-5" aria-label="read more about us">
        <span class="cs-button-text">Go Back</span>
    </a>
</div>






</body>
</html>
